[Unit]
Description=Music Pi starter service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash /home/pi/musicPi/musicpi.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
