<!DOCTYPE html>

<html>
<head>
  <head>
    <title>PiPlayer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
</head>
<body>
  <h1>PiPlayer</h1>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='javascript/button_control.js') }}"> </script>

    <div class='container'>
            <form>
                <a href=# id=pause><button class='button' style="vertical-align:middle">
                  <span>Play/Pause</span>
                </button></a>
                <a href=# id=next><button class='button' style="vertical-align:middle">
                  <span>
                    Next
                  </span>
                </button></a>
            </form>
    </div>

    <br>
    <div class=container>
      <form action="{{ url_for('handle_url_entry')}} " method='post'>
        <input id="link_entry" type="text" name="link_entry" placeholder="Copy the link here" class="links">
        <input type="submit" value="Add" class="add_button">
      </form>
    </div>
    <div id='next_songs'>
      {% if mainPage %}
        <h3 id="now_playing">Now Playing: {{ current }}</h3>
        {% for song in songs %}
          <p> {{ song }} </p>
        {% endfor %}
      {%endif%}
    </div>
    <div id="turn_off" style="display: flex; justify-content: flex-end">
      <a href=/power_off_pi><input type=”button” value='POWEROFF'
        onclick="return confirm('Are you sure you want to shut the RPi off?')"></a>
    </div>
</body>
</html>
