<!DOCTYPE html>

<html>
<head>
  <head>
    <title>PiPlayer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
</head>
<body>
  <h1>PiPlayer</h1>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='javascript/button_control.js') }}"> </script>

    <div class='container'>
            <form>
                <a href=# id=pause><button class='btn btn-default'>Play/Pause</button></a>
                <a href=# id=next><button class='btn btn-default'>>></button></a>
            </form>
    </div>

    <br>
    <form action="{{ url_for('handle_url_entry')}} " method='post'>
      Copy the youtube link here:<br>
      <input type="text" name="link_entry">
      <input type="submit" value="Submit">
    </form>
    <div>
      <div id='next_songs'>
        {% if mainPage %}
        <h3 id="now_playing">Now Playing: {{ current }}</h3>
        {% for song in songs %}
          <p> {{ song }} </p>
        {% endfor %}
        {%endif%}
      </div>
    </div>
    <div id="turn_off" style="display: flex; justify-content: flex-end">
      <a href=/power_off_pi><input type=”button” value='POWEROFF'
        onclick="return confirm('Are you sure you want to shut the RPi off?')"></a>
    </div>
</body>
</html>
